.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.footer ul > li {
  display: inline-block;
  padding: 30px;
}

.footer ul > li > a {
  color: rgb(71, 221, 136);
  font-size: 50px;
  padding: 30px;
  opacity: 0.7;
  transition: 0.8s ease;
}

.footer ul > li > a:hover {
  transform: scale(1.2);
}

.footer p {
  color: rgb(98, 98, 98);
}
